.cards {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    /* background: var(--card-white); */
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.card h3 {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 5px;
}

.card p {
    font-size: 2rem;
    font-weight: bold;
}
.titulo1{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

.tabela tr {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
}

.tabela td {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px 0;
    font-size: 0.9rem;
}

.tabela table{
    margin: 0 auto;
}

.titulo {
    text-align: center;
}

.chart-container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    border: 1px solid #e1e1e1;
    margin: 20px 0;
    transition: transform 0.3s ease;
}

